* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	width: 100%;
	height: 100%;
	margin: 0;
}
header > h1 {
	margin-bottom: 20px;
}

header {
	text-align: center;
	padding: 2em;
}

header > nav > a {
	padding: 0 10px 0 10px;
	background-color: gray;
}

#featured-property {
	margin: auto;
	font-family: "Helvetica Neue";
	width: 800px;
}

figure,
#featured-property > p {
	font-size: 1.2em;
	margin: 1em 0;
	text-align: center;
}

section > figure > figcaption {
	font-size: medium;
}

#details {
	background-color: red;
	height: 150px;
	padding: 30px;
}

#details > div {
	float: left;
	text-align: center;
  width: 25%;
}
